@font-face {
    font-family: 'Cheltenham';
    src: url('assets/font/cheltenham-cond-normal-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cheltenham';
    src: url('assets/font/cheltenham-cond-normal-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cheltenham';
    src: url('assets/font/cheltenham-cond-normal-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: OldEnglish;
    src: url("assets/font/OPTIEngraversOldEnglish.otf") format("opentype");
}

body {
    font-family: 'Cheltenham', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-weight: 300;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 10px 0 0 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
    font-weight: 500;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: inherit;
    text-decoration: none;
}

.left-section todays-paper {
    color: inherit;
    text-decoration: none;
}

.search-icon {
    margin-bottom: 5px;
}

.search-icon img {
    width: 20px;
    height: 20px;
}

.todays-paper {
    color: inherit;
    text-decoration: none;
}

.todays-paper a {
    color: inherit;
    text-decoration: none;
}

.header-middle {
    text-align: center;
    padding: 10px 0;
}

.right-section {
    width: 20px;
}

.logo {
    text-align: center;
    flex-grow: 1;
}

.logo h1 {
    
    font-family: 'OldEnglish', serif;
    font-size: 3em;
    margin: 0;
}

.date {
    font-style: italic;
    color: #666;
    font-weight: 300;
    font-size: 0.9em;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.todays-paper {
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 5px;
}

.top-news {
    display: flex;
    margin-bottom: 40px;
}

.main-article {
    flex: 2;
    margin-right: 20px;
}

.main-article h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
    font-weight: 700;
}

.main-article p {
    font-size: 1.1em;
    font-weight: 300;
}

.main-article img {
    width: 100%;
    height: auto;
}

.side-news {
    flex: 1;
}

.side-news article {
    margin-bottom: 20px;
}

.side-news h3 {
    font-size: 1.3em;
    font-weight: 500;
}

.side-news h3 a {
    color: inherit;
    text-decoration: none;
}

.side-news p {
    font-size: 0.9em;
    font-weight: 300;
}

.more-news {
    display: flex;
    justify-content: space-between;
}

.more-news article {
    flex-basis: 30%;
}

.more-news h3 {
    font-size: 1.1em;
    font-weight: 500;
}

.more-news p {
    font-size: 0.9em;
    font-weight: 300;
}

.more-news img {
    width: 100%;
    height: auto;
}

footer {
    text-color: #a3a3a3;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .top-news, .more-news {
        flex-direction: column;
    }

    .main-article, .side-news, .more-news article {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header-top {
        flex-direction: column;
        align-items: center;
    }

    .date {
        order: -1;
        margin-bottom: 10px;
    }

    .search-icon {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin: 5px;
    }
}
